* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media all and (max-width: 1090px) {
  .button-page {
    display: none !important;
  }
  .navbar-toggler{
    display: block;
  }
  #navbar-dropdown{
    display: block !important;
  }
}
.flex {
  display: flex;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  /* height: 100px; */
  padding: 20px 80px;
  justify-content: space-between;
  color: white;
  z-index: 1;
}
.navbar{
  color: white;
  width: 100%;
}
.navbar-toggler{
  display: none;
  position: relative;
  top: -20px;
}
.dropdown-menu{
  width: 100%;
  color: black !important;
}
.dropdown-menu button{
  color: black !important;
}
.body {
  margin-top: 10px;
}
.header-right {
  justify-content: end;
}
.header-left img {
  width: 250px;
}
.header-right button {
  padding: 10px;
  color: white;
}
.header-right button:hover {
  cursor: pointer;
}
.noneboder {
  border: none;
  background: none;
}
@media (min-width: 576px) {
  #slide {
    max-width: 100% !important;
  }
}

#slide {
  padding-right: 0px !important;
  padding-left: 0px !important;
  width: 100% !important;
  /* height: 300px; */
  -o-object-fit: cover;
  object-fit: cover;
}
.item {
  height: 900px !important;
}
.text-img-slide {
  width: 45%;
  height: 80px;
  position: relative;
  left: 80px;
  top: -580px;
  color: white;
  z-index: 1;
  font-size: 70px;
}
.hover-view {
  background: #3364a7;
  opacity: 0.8;
  filter: alpha(opacity=80);
  color: white;
  height: 20% !important;
  border-radius: 20px;
}
.hover-view:hover{
  height: 70% !important;
}
/* .hover-view {
  height: auto;
  background: #3364a7;
  opacity: 0.8;
  filter: alpha(opacity=80);
  color: white;
} */
.describe {
  background: #3364a7;
  opacity: 0.8;
  filter: alpha(opacity=80);
  padding: 10px 80px;
  position: relative;
  top: -175px;
  height: 90px;
}
.describe p {
  font-weight: 400;
  font-size: 20px;
  color: white;
  text-align: start;
}
.language {
  background: none;
  border: none;
  border-radius: 20px;
}
.language img {
  width: 60px;
  height: 40px;
  border-radius: 10px;
}
.borders {
  /* min-height: 200px; */
  padding: 10px;
  border-bottom: 8px solid;
}
.bottom {
  border-image: linear-gradient(to left, rgb(18, 21, 228), rgb(255, 21, 21)) 1 0;
  width: 30%;
  margin-left: 10px;
}
.bg {
  background: green;
  height: 450px;
  margin: 30px;
  border-radius: 20px;
  position: relative;
}
.row > * {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.bg img {
  /* border-radius: 20px; */
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.view {
  position: relative;
  left: 50px;
  top: 40px;
}
.sq {
  background: #3085a3;
  margin: 30px;
  height: 400px;
}
.sq p {
  height: 80px;
}
.sq img {
  width: 100%;
  height: 100%;
}
.hover-figure {
  font-size: 15px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.hover-figure img{
  font-size: 15px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.border-radius {
  border-radius: 20px;
}
.hover01 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.hover01 figure img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -o-object-fit: cover;
  object-fit: cover;
}
.hover01 figure:hover img {
  transform: scale(1.3);
}
#header_solution {
  font-size: 30px;
}
#solutions {
  margin-top: 30px;
  margin-bottom: 30px;
}
.detail {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: auto;
  background: rgb(73, 73, 199);
  z-index: 1;
  border-radius: 20px;
  padding: 20px;
  color: white;
  transition: 0.8s;
}
.detail button {
  border: none;
  background: none;
}
/* .detail-content{
  display: none;
} */
.detail:hover {
  height: 200px;
}
/* #list-img-partner{
  padding-left: 125px ;
  padding-bottom: 75px ;
} */
#partner {
  background: rgb(219, 219, 208);
}
.partner-img {
  background: white;
  width: 20%;
  margin: 20px;
  border-radius: 20px;
}
.partner-img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  /* object-fit: cover;
  object-position: center; */
}

.grid figure {
  position: relative;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  width: 48%;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

figure.effect-lily img {
  max-width: none;
  width: -webkit-calc(100% + 50px);
  width: calc(100% + 50px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-40px, 0, 0);
  transform: translate3d(-40px, 0, 0);
}

figure.effect-lily figcaption {
  text-align: left;
}

figure.effect-lily figcaption > div {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  height: auto;
}
figure.effect-lily h2{
  font-weight: 600;
  color: white;
}
figure.effect-lily h2,
figure.effect-lily p {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}

figure.effect-lily h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

figure.effect-lily p {
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}

figure.effect-lily:hover img,
figure.effect-lily:hover p {
  opacity: 1;
}

figure.effect-lily:hover img{
  transform: scale(1.3) !important;
}
figure.effect-lily:hover h2,
figure.effect-lily:hover p {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

figure.effect-lily:hover p {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.view {
  margin: 30px;
}
#contact {
  background-image: url("https://maygiatcongnghiepvietnam.vn/wp-content/uploads/2019/06/contactusen-1024x448.jpg");
  background-color: #cccccc;
  color: white;
  padding: 50px;
  text-align: center;
}
.form-contact {
  background: #cccccc;
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
}
.form-contact input {
  margin: 10px;
  color: black;
  font-size: 20px;
}
.form-contact input::placeholder {
  padding: 10px;
  font-size: 20px;
}
.input-contact {
  width: 30%;
  height: 50px;
  border-radius: 20px;
  border: none;
}
.input-contact-content {
  width: 95%;
  height: 200px;
  border-radius: 20px;
  border: none;
  margin-left: 30px;
  margin-right: 30px;
}
.send {
  width: 200px;
  padding: 30px;
  background: #3085a3;
  border-radius: 50px;
  margin-top: 20px;
  border: none;
}
.send:hover {
  background: rgb(241, 38, 38);
}
.footer {
  padding-top: 60px;
  margin-bottom: 60px;
  background: #f8e5e5;
}
.magrin {
  margin: 35px;
}
.magrin-10 {
  margin: 10px;
}
.img-contact img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
  object-fit: cover;
}
