.bold {
  font-weight: 500;
}
.font-size-20 {
  font-size: 20px;
}
.font-size-25 {
  font-size: 25px;
}
.font-size-30 {
  font-size: 30px;
}
.font-size-50 {
  font-size: 50px;
}

.font-weight-700{
  font-weight: 700;
}
